# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
# Godot file types.
*.tscn filter=lfs diff=lfs merge=lfs -text lockable
*.tres filter=lfs diff=lfs merge=lfs -text lockable
# Raw Content types.
*.blend filter=lfs diff=lfs merge=lfs -text lockable
*.blend1 filter=lfs diff=lfs merge=lfs -text lockable
*.fbx filter=lfs diff=lfs merge=lfs -text lockable
*.svg filter=lfs diff=lfs merge=lfs -text lockable
*.import filter=lfs diff=lfs merge=lfs -text lockable
*.3ds filter=lfs diff=lfs merge=lfs -text lockable
*.psd filter=lfs diff=lfs merge=lfs -text lockable
*.png filter=lfs diff=lfs merge=lfs -text lockable
*.mp3 filter=lfs diff=lfs merge=lfs -text lockable
*.wav filter=lfs diff=lfs merge=lfs -text lockable
*.xcf filter=lfs diff=lfs merge=lfs -text lockable
*.jpg filter=lfs diff=lfs merge=lfs -text lockable
*.tga filter=lfs diff=lfs merge=lfs -text lockable

# Ignore some files when exporting to a ZIP.
/.github/           			export-ignore
/godot-cpp/           			export-ignore
/godot-git-plugin/           	export-ignore
/thirdparty/           			export-ignore
/.gitattributes     			export-ignore
/.gitignore         			export-ignore
/.gitmodules         			export-ignore
/api.ci.json         			export-ignore
/build_openssl_universal_oxs.sh	export-ignore
/SConstruct						export-ignore
